<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ブログ登録画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="blog-page blog-form-page">

<header class="blog-header">
    <div class="logo">Blog</div>
    <nav>
		<a th:href="@{/blog-list}"th:text="${accountName}"></a>
		<a th:href="@{/blog-form}">Blog Register</a>
		<a th:href="@{/blog/logout}" class="logout">Logout</a>
    </nav>
</header>

<main class="blog-main">
    <section class="form-card">
        <h1>新しい記事を投稿</h1>
        <p class="form-subtitle">
            タイトル・カテゴリ・カバー画像・本文を入力して、公開または下書き保存できます。
        </p>

        <form th:action="@{/blog/register/process}" method="post" enctype="multipart/form-data">
            <label>タイトル</label>
            <input type="text" name="blogTitle" placeholder="例）個人開発のまとめ">
            <p class="form-hint">120文字まで</p>

            <label>カテゴリ</label>
            <input type="text" name="categoryName" placeholder="例）IT技術 / 料理 / 旅行">

            <label class="check-label">
                <input type="checkbox" name="commentAllowed" checked>
                コメントを許可する
            </label>

            <label>本文</label>
            <textarea name="article" placeholder="本文を入力してください..."></textarea>

            <div class="text-info">
                <span>改行可・プレーンテキスト（必要なら後でMarkdown対応へ拡張）</span>
                <span>0文字</span>
            </div>

			<label>カバー画像</label>
			<input type="file" name="blogImageFile">

            <div class="image-preview">
                画像プレビュー
            </div>

            <p class="form-hint">
                推奨 1280×720 以上、JPG/PNG。
            </p>

            <div class="button-area">
                <button type="submit" class="main-btn">登録</button>
                <button type="button" class="draft-btn">下書き保存</button>
                <button type="reset" class="reset-btn">リセット</button>
            </div>

        </form>
    </section>
</main>

<footer>Copyright © SMH All rights reserved</footer>
<script>
    const fileInput = document.querySelector('input[name="blogImageFile"]');
    const preview = document.querySelector('.image-preview');

    fileInput.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            preview.innerHTML = `<img src="${URL.createObjectURL(file)}" alt="preview">`;
        }
    });
</script>
</body>
</html>