<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>会員登録画面</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="login-page">

    <div class="login-box">
        <h1>Register</h1>

        <form action="/register" method="post">

            <input
                type="text"
                name="accountName"
                placeholder="UserName">

            <input
                type="email"
                name="accountEmail"
                placeholder="UserEmail">

            <input
                type="password"
                name="password"
                placeholder="Password">

            <button type="submit">Login</button>

        </form>



    </div>

</body>
</html>